@import './scss/__abstract.scss';

.main-container{
    width: 92%;
    margin: $main-space auto;
    max-width: 1000px;
}
.search-input{
    border-color: #d1d1d1;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    width: 100%;
    height: 40px;
    padding: $main-space;
    outline: none;
    margin-bottom: $main-space;
}