.user-card{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #FBFBFB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    .user-avatar{
        flex: 0 0 100px;
        img{
            border-radius: 100%;
        }
    }
    .user-card-row{
        display: flex;
        margin-bottom: 10px;
        font-size: 0.75rem;
    }
}